html,body{
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	justify-content: center; 
	align-items: center;
}
*{
	font-family: 'Roboto', sans-serif;
}
.text{
	cursor:pointer;
	width:260px;
	min-width: 240px;
	flex-grow: 0;
	height:380px;
	flex-wrap:wrap;
	flex-basis: auto;
    justify-content: center;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
	/*transition: all 0.2s;*/
}

.border{
  display: inline;
  padding: 10px 10px 10px 10px;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}
.video{
/*padding: 0px 0px 0px 10px;
*/  height: 100%;
  font-size: 21px;
  overflow-wrap: break-word;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
}
.description{
	font-weight: bold;
	font-size: 32px;
	overflow-wrap: break-word;
  display: flex;
 /* font-family: 'EB Garamond', serif;*/
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  padding-left: 150px;
  padding-right: 150px;
  transition: all 1s;
}
.basis, .savedvid{
	height: 100%;
	width: 100%;
	position: relative;
}
.yes{
/*	padding: 0px 0px 0px 10px;
*/  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;  
  overflow-wrap: break-word;
  font-size: 21px;
  transition: all 0.1s;
  font-family: 'EB Garamond', serif;

}
.bigcomment{
  /*display: flex;*/
  box-shadow: 0px 0px 1px 5000px rgba(0,0,0,1);
  padding: 20px 40px 20px 40px;
font-size: 2.9vw; 
  z-index: 2999;
  width: 100%;
  height: 100%;
  text-align: justify;
  font-family: 'EB Garamond', serif;
  
  -webkit-transition: box-shadow 3s; 
  -moz-transition: box-shadow 3s; 
  -o-transition: box-shadow 3s; 
  transition: box-shadow 3s;
}
.nomouse{
  pointer-events: none;
}
.uppermenu{
	margin-left: 0px;
	z-index:0;
	position: fixed;
	height:150px;
	width:100vw;
    left:0%;
	top: 0%;
	padding: 0px 0px 0px 0px;
}

#leftmenucell{
	cursor:pointer;
	position: absolute;
	background-color: white;
	width:100%;
	height:5vh;
	display: flex;
	flex-wrap: wrap;
	left:0%;
	top:0%;
	transition: all 1s;

}

#info{
	width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
	height: 60px;
	transition: all 1s;
	position: absolute;
	z-index: 10000;

}

#rightmenucell{
	float:left;
	/*background-color: white;*/
	width:100%;
	height:150px;
	display: flex;
	flex-wrap: wrap;
	left:0%;
	top:0%;
	transition: all 1s;
	justify-content: center;
	align-content: center;

}
button{
	cursor:pointer;
	pointer-events: all;
	text-transform: uppercase;
	font-weight: bold;
    border: none;


}
#searchquery{
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
    float:left;
	background-color: white;
	position:relative;
	align-self: center;
	margin-top:2vh;
	margin-left: 0vw;
	width:30vw;
	height:35px;
	font-size:14px;
	padding-left:10px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
	transition: all 1s;

}

#buttonscheisser{

	-webkit-flex-wrap: wrap;
	align-self: center;
	flex-wrap: wrap;
	background-color: white;
	float:left;
	position:relative;
	margin-top:2vh;
	margin-left: 0vw;
	width:70px;
	height:40px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
	transition: all 2s;
	padding-right: 3px;
}


#lowernavigation{
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	height:3vh;
	background-color: white;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
	transition: all 2s;
}

#themes{
	height:45px;
	position:relative;
	bottom: 0%;
	width: 100%;
	float: top;
	justify-content: bottom;
	display: flex;
	justify-content: space-between;
}
#subthemes{
	position:relative;
	float: top;
    width: 100%;

}
.theme{
	height: auto;
	bottom: 0%;
	width:15%;
	height: 100%;
	flex-shrink: 1;
	flex-wrap: nowrap;
    background-color: white;
    align-self: flex-end;
	color:black;
	position: relative;
	float:left;
	font-size: 14px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: auto;
}


.navigation{
	flex-grow: 0;
	margin-top: 40vh;
	top: 0%;
	flex-wrap: wrap;
	display: flex;
	justify-content: center; 
	transition-duration: 2s;
    -webkit-transition-duration:2s;
}


.buttonyes, .buttonno,.buttonclose{
  width: 200px;
  height: auto;
  font-size: 20px;
}
.saved{
  width: 170px;
  height: 35px;
  font-size: 13px;
  position: relative;
  left: 7vh;
  margin-right:50px; 
  align-self: center;
  background-color: white;
	margin-top:2vh;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);


}
.buttonabout{
	background-color: white;

		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);

	align-self: center;
	margin-top:2vh;
  width: 170px;
  height: 35px;
  font-size: 13px;
  position: relative;
  right: 7vh;
  margin-left:50px;

}
.buttonno{
  position: absolute;
  bottom: 20px;
  left: 15px;
}
.buttonyes{
  position: absolute;
  bottom: 20px;
  right: 15px;
}

.buttonclose{
  position: absolute;
  background-color: black;
  color: white;

}

.subthemes{
	position:relative;
	float: top;
	height:45px;
	width: 100%;
	display: none;

}
.subtheme{
	height: auto;
	bottom: 0%;
	width:20%;
	height: 100%;
    background-color: white;
    align-self: flex-end;
	color:black;
	position: relative;
	float:left;
	font-size: 14px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: auto;
}
.showme{
	display: block;
}
/*button:active{
    background:olive;
}*/

.allblue{
	background-color: #f0f1f0;
}
.commentauthor{
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
.date{

	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	font-weight: medium;
/*	position: relative;
	float: lef*/
}
}
